* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    max-width: 400px;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid;
    box-shadow: 0 0 5px rgb(128, 128, 128);
}

h1 {
    padding-top: 40px;
    text-align: center;
    font-size: xx-large;
    overflow-wrap: break-word;
}

button {
    width: calc(100% - 100px);
    border-radius: 20px;
    height: 50px;
    display: block;
    background-image: linear-gradient(to bottom, #dca1a8 0%, #807aa5 80%);
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    font-weight: bold;
}

.numberCheckContent {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    font-size: xx-large;
}

input[type="number"] {
    font-size: xx-large;
}

.questionOrOkContent {
    display: block;
    font-size: xx-large;
    margin-top: 20px;
}

.szam {
    color: blue;
}

#questionOrOk {
    margin-left: 48%;
}

.fa-question {
    color: red;
}

.fa-thumbs-up {
    color: blue;
}

#gameTippEndProgress {
    margin-left: 30%;
    border-radius: 10px;
    color: blue;
}

progress[value] {
    -webkit-appearance: none;
}

progress[value]::-webkit-progress-value {
    background-color: blue;
}